
#poke-container{
    max-width: 90vw;
    max-height: 100%;
    padding-top: 1rem;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#filter_poke{
    position: absolute;
    top: 7rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    right: 4rem;
    margin: 0.5rem;
}
#cards{
    border: none;
    overflow: hidden;
    padding-bottom: 80px;
    position: absolute;
    top: 10rem;
    max-width: 90vw;
    height: fit-content;
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
}
#iputFilter{
    color: rgb(4, 11, 228);
    caret:yellow;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-bottom: yellow 5px solid;
}
#iputFilter:focus{
    outline: none;
}
#btnFilter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: none;
    
}
#btnFilter:hover{
    box-shadow: none;
    -webkit-animation: tiembla 0.15s infinite;
    animation: tiembla 0.15s infinite;

}

@-webkit-keyframes tiembla{
  0%  { -webkit-transform:rotateZ(-8deg); }
  50% { -webkit-transform:rotateZ( 0deg);}
  100%{ -webkit-transform:rotateZ( 8deg); }

}

.pokeball {
    width: 50px;
}