@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
 
  
}

:root {
  
  font-size: 16px;
  line-height: 24px;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

html{
  scroll-behavior: smooth;
  
}

body {
  
  background-color: rgb(93, 82, 82);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  transition: all 0.8s ease-in;
}


#nav{
  position: fixed;
  z-index: 1;
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10%;
  padding-left: 2rem;
  border-bottom: 5px solid yellow ;
  
}
#dashboard{
height: 100%;
width: 100vw;
margin-top: 6.5%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding-bottom: 4rem;

}
#pageInfo{
  border-top: 3px yellow solid;
  width: 100vw;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  object-position: bottom;
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: fixed;
  bottom: 0;
  
}

button{
  background-color: rgba(0, 0, 0, 0.155);
  padding: 0.3rem 0.4rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.6s ease-in-out;
  border: yellow 2px solid;
  
      
}
button:hover{
  
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
cursor: pointer;
}







