.nav-container{
display: flex;
justify-content: right;
align-items: center;
height: 100%;
width: 100%;
padding-right: 2rem;
margin-top: 0.8rem;
gap:2rem;

}

.nav-container > button{
    background-color:inherit;
    border: none;
    transition: none;
}
.nav-container > button:hover{
    box-shadow: none;
    cursor: pointer;
}
#color-theme-btn > img{
    width: 50px;
}
@media (max-width: 850px) {
    .nav-container  {
      position: relative;
      left: 80%;
      width: 50px;

    }
}