.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    bottom: 50%;
    
}

.login > h2 {
    font-size: 45px;
    font-weight: 900;
    color: var(--primary);
    
    margin-top: 45%;
}
.login > form{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.login > form > #userName{
    background-color: transparent;
    border: none;
    border-bottom: solid 3px yellow;
    caret-color: yellow;
    color: var(--primary);
    height: 45px;
    font-size: 40px;
    line-height-step: 12px;
    font-weight: 700;
    
}

.login > form >#userName:focus{
    outline: none;
    
}


@media (max-width:800px){
    .login{
        width: 90vw;
        position: relative;
        
        

    }
    .login > h2 {
        font-weight: 400;
        font-size: 20px;
        text-align: left;
    }
    .login > form{
        width: fit-content;
        flex-direction: column;
        
    }
    .login > form > #userName{
        width: 250px;
    }
}
