.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login > h2 {
    font-size: 30px;
    font-weight: 700;
    color: yellow;
    text-shadow: 0 0 30px black;
    margin-top: 45%;
}
.login > form{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.login > form > #userName{
    background-color: transparent;
    border: none;
    border-bottom: solid 3px yellow;
    caret-color: yellow;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px black;
    height: 30px;
    font-size: 30px;
    
}

.login > form >#userName:focus{
    outline: none;
    
}
.login > form > .login-btn {
    border: yellow solid 3px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-color: rgba(240, 248, 255, 0.677);
}
