.login{
    display: flex;
    flex-direction: column;
    gap: 96px;
    align-items: center;
    justify-content: center;
}

.login > h2 {
    font-size: 30px;
    font-weight: 500;
    color: rgba(245, 245, 245, 0.525);
}
.login > form{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.login > form > #userName{
    background-color: transparent;
    border: none;
    border-bottom: 2px whitesmoke solid;
    caret-color: whitesmoke;
    color: whitesmoke;
    height: 30px;
}

.login > form >#userName:focus{
    outline: none;
}
.login > form > .login-btn {
    border: whitesmoke solid 2px;
    color: whitesmoke;
}
