#main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    margin-top: 40%;
    gap:2rem;
}
#main_container > h1{
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-shadow: 0 0 15px black, 0 0 15px red ;
    top:20%;
    margin-bottom: 5%;
    
}
#dice_container{
    width: 250px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    
}

#machine > h2 {
    position: fixed;
    left: 35%;
    bottom: 66%;
}
#player > h2{
    position: fixed;
    right: 40%;
    bottom: 66%;
}
#machine > h2 , #player > h2 {
    text-align: center;
    font-size: 20px;
    line-height:normal;
    

}


#dice_machine > img , #dice_player > img {
    
    border-radius: 8px;
    width: 100px;
    height: 100px;
    border: 2px rgb(2, 2, 2) solid;
   }

   #dice_machine > img{
    position: fixed;
    right: 58%;
    top:35%;
   }
   #dice_player > img{
    position: fixed;
    left: 55.5%;
    top:35%;
   }

#dice_machine > p , #dice_player > p {
    text-align: center;
    font-size: 20px;
    margin-top: 1rem;
}
#dice_machine > p{
    position: fixed;
    bottom: 45%;
    right: 61%;
}
#dice_player > p{
    position: fixed;
    bottom: 45%;
    left: 58%;
}

#resultGame{
    position: fixed;
    bottom: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: red;
    text-shadow: 0 0 20px black, 0 0 10px black;
}
#throw{
    position: fixed;
    bottom: 30%;
}

 @media (max-width: 850px) {
    #main_container > h1{
        padding: 1rem;  
              
    }
    #main_container > h1{
        text-justify:inter-word;
        line-height: normal;
        top: 15%;
        left: 10%;
        font-size: 22px;
    }
    #machine > h2 {
        left: 20%;
    }
    #player > h2{
        right: 29%;
    }
    #resultGame{
        text-align: center;
        bottom: 15%;
        margin-top: 2rem;
        padding:0 1rem;
    }
} 