.gameCat{
    position: absolute;
    top:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gameCat > .title_cat{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-shadow: 0 0 15px black, 0 0 15px red ;
    position: absolute;
    object-position: top;
    top: 2%;
    left:30%;
}

.gameCat > #board{   
    position: relative;
    margin-top: 10%;  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat( 4, minmax(150px,150px));
     grid-template-rows: repeat(3,minmax(100px,150px));
     
    
   
}
@media (max-width: 850px) {
    .gameCat > .title_cat{
        top: 8rem;
    }
    
    .gameCat > #board {
      width: 100%; 
      height: 100%;  
      margin:2rem;
      top:5rem;
      grid-template-columns: repeat( 4, minmax(50px,150px));
      grid-template-rows: repeat(3,minmax(50px,150px));
    }
      
  }
    

.gameCat > #board >.place{
    box-shadow: 0 0 20px black;
    overflow: hidden;
    border: 2px rgba(0, 0, 0, 0.499) solid;
    background-image: url("https://res.cloudinary.com/do7bnejaz/image/upload/v1675585003/assets/box_cps3d2.png");
    background-size:cover;
    background-position: center;
    
}

.kitty{
    background-image: url("https://res.cloudinary.com/do7bnejaz/image/upload/v1675615901/assets/catdef_hnpht9.png");
    background-size: cover;
    height: 100%;
    width: auto;
    animation: appear 0.6s;
    
    
}
@keyframes appear {
    0% {
        transform: translateY(130px);
    }

    100% {
        transform: translateY(0);
    }
}

.gameCat > #controlBtns{
   position: fixed;
   bottom: 8%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 1rem; 
}

@media (max-width: 850px) {
    .gameCat >.title_cat{
        top:1%;
    }
    .gameCat > #board {
        grid-template-columns: repeat( 4, minmax(50px,120px));
        grid-template-rows: repeat(3,minmax(50px,120px));
    }
   .gameCat > #controlBtns{
        
        flex-direction: row;
        bottom: 15%;
        
        gap: 0.8rem;
    }
    .kitty{
        background-position: center;
    background-size: cover;   }
}
.gameCat > #controlBtns>.startBtn{
    color:inherit;
    background-color: inherit;
    font-size: 30px;
    
}

.gameCat > #controlBtns >.score , .gameCat > #controlBtns >#time{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

    margin-left: 2 rem;
}
